/* Reset and base styles  */
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:focus,
:active {
  /*outline: none;*/
}

a:focus,
a:active {
  /* outline: none;*/
}

/* Links */
a, a:link, a:visited {
  /* color: inherit; */
  text-decoration: none;
  /* display: inline-block; */
}

a:hover {
  /* color: inherit; */
  text-decoration: none;
}

/* Common */
aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul, ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button, input[type=submit] {
  display: inline-block;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

body {
  background-color: #F7F7FB;
  color: #040404;
}
body .wrapper .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0px;
  padding: 20px 0px 19px 0px;
}
body .wrapper .header__btn {
  padding: 18px 32px;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: #F7F7FB;
}
body .wrapper .header .burger-menu {
  display: none;
}
body .wrapper .header .nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 56px;
}
body .wrapper .header .nav__list__item__link {
  color: #040404;
  font-family: "Ubuntu", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: normal;
}
body .wrapper .btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  background-color: #5251EC;
  text-transform: uppercase;
  border-radius: 44px;
}
body .wrapper .main .section1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 20px;
  padding: 120px 125px;
}
body .wrapper .main .section1-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 24px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
body .wrapper .main .section1-container__title {
  font-family: "Ubuntu", sans-serif;
  font-size: 72px;
  font-weight: 400;
  line-height: 140%;
  text-transform: uppercase;
}
body .wrapper .main .section1-container__text {
  font-family: "Ubuntu", sans-serif;
  font-size: 24px;
  font-weight: 300;
  line-height: 120%;
  width: 90%;
}
body .wrapper .main .section1-container__btn {
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: 600;
  padding: 24px 44px;
  color: #F7F7FB;
}
body .wrapper .main .section2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 48px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 120px 100px;
}
body .wrapper .main .section2__title {
  font-family: "Ubuntu", sans-serif;
  font-size: 56px;
  font-weight: 500;
  line-height: normal;
  width: 70%;
}
body .wrapper .main .section2__title-text {
  color: #8E96EA;
}
body .wrapper .main .section2-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  gap: 62px;
}
body .wrapper .main .section2-container__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 24px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
body .wrapper .main .section2-container__box-title {
  font-family: "Ubuntu", sans-serif;
  font-size: 44px;
  font-weight: 400;
  line-height: normal;
  width: 90%;
  text-transform: uppercase;
}
body .wrapper .main .section2-container__box-text {
  font-family: "Ubuntu", sans-serif;
  font-size: 20px;
  font-weight: 300;
  line-height: normal;
}
body .wrapper .main .section3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 24px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 120px 100px;
}
body .wrapper .main .section3__sub-title {
  font-family: "Ubuntu", sans-serif;
  font-size: 28px;
  font-weight: 500;
  line-height: 140%;
}
body .wrapper .main .section3__title {
  font-family: "Ubuntu", sans-serif;
  font-size: 56px;
  font-weight: 500;
  line-height: normal;
  text-align: center;
  width: 90%;
}
body .wrapper .main .section3__title-text {
  color: #8E96EA;
}
body .wrapper .main .section3-container {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0px;
}
body .wrapper .main .section3-container__text {
  font-family: "Ubuntu", sans-serif;
  font-size: 24px;
  font-weight: 300;
  line-height: 160%;
}
body .wrapper .main .section3-container__img {
  width: 54%;
}
body .wrapper .main .section4 {
  margin-bottom: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 240px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
body .wrapper .main .section4-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 60px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
body .wrapper .main .section4-textbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 28px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
body .wrapper .main .section4-textbox__title {
  font-family: "Ubuntu", sans-serif;
  font-size: 64px;
  font-weight: 500;
  line-height: normal;
}
body .wrapper .main .section4-textbox__text {
  font-family: "Ubuntu", sans-serif;
  font-size: 32px;
  font-weight: 300;
  line-height: normal;
  text-align: center;
  width: 60%;
}
body .wrapper .main .section4-box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 53px;
}
body .wrapper .main .section4-box__contain {
  background-color: #FEFEFF;
  border-radius: 44px;
  padding: 12px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 12px;
}
body .wrapper .main .section4-box2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}
body .wrapper .main .section4-box2__contain {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 32px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 44px;
  border: 2px solid #D7DAFC;
  background: #FEFEFF;
  padding: 32px;
}
body .wrapper .main .section4-box2__contain-textbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 16px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
body .wrapper .main .section4-box2__contain-textbox-title {
  font-family: "Ubuntu", sans-serif;
  font-size: 32px;
  font-weight: 500;
  line-height: normal;
}
body .wrapper .main .section4-box2__contain-textbox-text {
  font-family: "Ubuntu", sans-serif;
  font-size: 24px;
  font-weight: 300;
  line-height: normal;
  width: 83%;
}
body .wrapper .main .section5 {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 120px 219px;
  border-radius: 44px;
  background-color: #E8EAFF;
  padding: 80px 44px;
  z-index: 20;
}
body .wrapper .main .section5__sub-title {
  font-family: "Ubuntu", sans-serif;
  font-size: 28px;
  font-weight: 300;
  line-height: normal;
  text-transform: uppercase;
}
body .wrapper .main .section5__title {
  font-family: "Ubuntu", sans-serif;
  font-size: 50px;
  font-weight: 500;
  line-height: normal;
  text-align: center;
}
body .wrapper .main .section5__text {
  font-family: "Ubuntu", sans-serif;
  font-size: 32px;
  font-weight: 300;
  line-height: normal;
  text-align: center;
  width: 63%;
}
body .wrapper .main .section5__btn {
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: 600;
  padding: 24px 44px;
  color: #FEFEFF;
}
body .wrapper .footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 79px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #040404;
  margin-top: 300px;
  padding: 600px 43px 80px;
}
body .wrapper .footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 225px;
}
body .wrapper .footer-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 32px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
body .wrapper .footer-box__tell {
  font-family: "Ubuntu", sans-serif;
  font-size: 28px;
  font-weight: 500;
  line-height: normal;
  color: #FEFEFF;
}
body .wrapper .footer-box__email {
  font-family: "Ubuntu", sans-serif;
  font-size: 28px;
  font-weight: 500;
  line-height: normal;
  color: #FEFEFF;
}
body .wrapper .footer-box__city {
  font-family: "Ubuntu", sans-serif;
  font-size: 28px;
  font-weight: 500;
  line-height: normal;
  color: #FEFEFF;
}
body .wrapper .footer-box__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 28px;
}
body .wrapper .footer-box2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 72px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
body .wrapper .footer-contentbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 160px;
}
body .wrapper .footer-textbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 24px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
body .wrapper .footer-textbox__title {
  font-family: "Ubuntu", sans-serif;
  font-size: 28px;
  font-weight: 500;
  line-height: normal;
  color: #FEFEFF;
}
body .wrapper .footer-textbox__contain {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 16px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
body .wrapper .footer-textbox__contain-text {
  font-family: "Ubuntu", sans-serif;
  font-size: 20px;
  font-weight: 300;
  line-height: normal;
  color: #FEFEFF;
}
body .wrapper .footer-contentbox2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 200px;
}
body .wrapper .footer-container2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  padding: 32px 10px 10px 10px;
  border-top: 1px solid #6E6E6E;
  width: 90%;
}
body .wrapper .footer-container2__text {
  font-family: "Ubuntu", sans-serif;
  font-size: 20px;
  font-weight: 300;
  line-height: normal;
  color: #FEFEFF;
  text-align: center;
}

@media screen and (max-width: 1728px) and (min-width: 1281px) {
  body .wrapper .main .section1 {
    padding: 120px 0px;
  }
  body .wrapper .main .section2 {
    padding: 120px 3px;
  }
  body .wrapper .main .section2__title {
    width: 74%;
  }
  body .wrapper .main .section2-container__box-text {
    width: 86%;
  }
  body .wrapper .main .section3 {
    padding: 120px 0px;
  }
  body .wrapper .main .section3__title {
    width: 68%;
  }
  body .wrapper .main .section5 {
    margin: 120px 38px;
    padding: 80px 0px;
  }
  body .wrapper .footer-contentbox2 {
    gap: 260px;
  }
}
@media screen and (max-width: 1280px) and (min-width: 834px) {
  body .wrapper .header__btn {
    display: none;
  }
  body .wrapper .header .burger-menu {
    display: block;
  }
  body .wrapper .header .btn {
    display: none;
  }
  body .wrapper .nav {
    display: none;
  }
  body .wrapper .main .section1 {
    padding: 100px 0px;
  }
  body .wrapper .main .section1__img {
    width: 50%;
  }
  body .wrapper .main .section1-container__title {
    font-size: 44px;
  }
  body .wrapper .main .section1-container__text {
    width: 92%;
  }
  body .wrapper .main .section2 {
    padding: 100px 0px;
  }
  body .wrapper .main .section2__title {
    font-size: 44px;
    width: 100%;
  }
  body .wrapper .main .section2-container {
    gap: 30px;
  }
  body .wrapper .main .section2-container__img {
    width: 49%;
  }
  body .wrapper .main .section2-container__box-title {
    font-size: 32px;
    width: 100%;
  }
  body .wrapper .main .section3 {
    padding: 120px 0px;
  }
  body .wrapper .main .section3-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body .wrapper .main .section3-container__text {
    font-size: 18px;
  }
  body .wrapper .main .section4-textbox__text {
    width: 95%;
  }
  body .wrapper .main .section4-box {
    grid-template-columns: repeat(2, 1fr);
  }
  body .wrapper .main .section4-box2 {
    gap: 20px;
  }
  body .wrapper .main .section4-box2__contain-textbox-text {
    width: 98%;
  }
  body .wrapper .main .section5 {
    margin: 120px 0px;
    padding: 80px 40px;
  }
  body .wrapper .main .section5__text {
    width: 100%;
  }
  body .wrapper .footer-contentbox {
    gap: 102px;
  }
}
@media screen and (max-width: 834px) and (min-width: 376px) {
  body .wrapper .header__btn {
    display: none;
  }
  body .wrapper .header .burger-menu {
    display: block;
  }
  body .wrapper .header .btn {
    display: none;
  }
  body .wrapper .nav {
    display: none;
  }
  body .wrapper .main .section1 {
    padding: 100px 0px;
  }
  body .wrapper .main .section1__img {
    width: 50%;
  }
  body .wrapper .main .section1-container__title {
    font-size: 44px;
  }
  body .wrapper .main .section1-container__text {
    width: 92%;
  }
  body .wrapper .main .section2 {
    padding: 100px 0px;
  }
  body .wrapper .main .section2__title {
    font-size: 44px;
    width: 100%;
  }
  body .wrapper .main .section2-container {
    gap: 30px;
  }
  body .wrapper .main .section2-container__img {
    width: 49%;
  }
  body .wrapper .main .section2-container__box-title {
    font-size: 32px;
    width: 100%;
  }
  body .wrapper .main .section3 {
    padding: 120px 0px;
  }
  body .wrapper .main .section3-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body .wrapper .main .section3-container__text {
    font-size: 18px;
  }
  body .wrapper .main .section4-textbox__text {
    width: 95%;
  }
  body .wrapper .main .section4-box {
    grid-template-columns: repeat(2, 1fr);
  }
  body .wrapper .main .section4-box2 {
    gap: 20px;
  }
  body .wrapper .main .section4-box2__contain-textbox-text {
    width: 98%;
  }
  body .wrapper .main .section5 {
    margin: 120px 0px;
    padding: 80px 29px;
  }
  body .wrapper .main .section5__text {
    width: 100%;
  }
  body .wrapper .footer-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 80px;
  }
  body .wrapper .footer-contentbox2 {
    gap: 254px;
  }
}
@media screen and (max-width: 375px) {
  body .wrapper .header__btn {
    display: none;
  }
  body .wrapper .header .burger-menu {
    display: block;
  }
  body .wrapper .header .btn {
    display: none;
  }
  body .wrapper .nav {
    display: none;
  }
  body .wrapper .main .section1 {
    padding: 100px 10px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  body .wrapper .main .section1-container__title {
    font-size: 32px;
  }
  body .wrapper .main .section2 {
    padding: 100px 10px;
  }
  body .wrapper .main .section2__title {
    font-size: 32px;
    width: 79%;
  }
  body .wrapper .main .section2-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body .wrapper .main .section2-container__box-title {
    font-size: 24px;
  }
  body .wrapper .main .section2-container__box-text {
    font-size: 16px;
  }
  body .wrapper .main .section3 {
    padding: 120px 0px;
  }
  body .wrapper .main .section3__sub-title {
    font-size: 16px;
  }
  body .wrapper .main .section3__title {
    font-size: 32px;
    width: 100%;
  }
  body .wrapper .main .section3-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 32px;
  }
  body .wrapper .main .section3-container__img {
    width: 100%;
  }
  body .wrapper .main .section4-textbox__title {
    font-size: 32px;
  }
  body .wrapper .main .section4-textbox__text {
    width: 67%;
    font-size: 22px;
  }
  body .wrapper .main .section4-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  body .wrapper .main .section4-box2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  body .wrapper .main .section5 {
    margin: 120px 0px;
    padding: 80px 0px;
  }
  body .wrapper .main .section5__title {
    font-size: 32px;
  }
  body .wrapper .main .section5__text {
    font-size: 25px;
    width: 100%;
  }
  body .wrapper .footer {
    padding: 700px 0px 80px;
  }
  body .wrapper .footer-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 50px;
  }
  body .wrapper .footer-contentbox {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 50px;
  }
  body .wrapper .footer-contentbox2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 50px;
  }
}