@import './reset';
@import './mixins';
@import './vars';

body {
    background-color: $Background;
    color: $Black;
    .wrapper {
        .header {
            @include flex(space-around, center, 0px);
            padding: 20px 0px 19px 0px;
            &__btn {
                padding: 18px 32px;
                @include Inter(16px, 600, normal);
                color: $Background;
            }
            .nav {
                &__list {
                    display: flex;
                    gap: 56px;
                    &__item {
                        &__link {
                            color: $Black;
                            @include Ubuntu(24px, 400, normal);
                        }
                    }
                }
            }
            .hamburger {
                display: none;
            }
        }
        .btn {
            @include flex(center, center, 10px);
            background-color: $Accent;
            text-transform: uppercase;
            border-radius: 44px;
        }
        .title {
            @include Ubuntu(50px, 500, normal);
            text-align: center;
            &-text {
                color: $Purple;
            }
        }
        .section1 {
            @include flex(flex-start, center, 20px);
            flex-direction: column;
            padding: 100px 260px;
            &__text {
                @include Ubuntu(28px, 300, normal);
                text-align: center;
            }
            &__sub-title {
                @include Ubuntu(32px, 400, normal);
                text-align: center;
                width: 75%;
                margin-top: 20px;
            }
            &__btn {
                @include Inter(24px, 600, normal);
                padding: 24px 44px;
                color: $Background;
            }
            &-container {
                @include flex(flex-start, center, 22px);
            }
            &-box {
                @include flex(flex-start, center, 22px);
                flex-direction: column;
                &__contant {
                    @include flex(center, center, 8px);
                    flex-direction: column;
                    &-title {
                        @include Ubuntu(21px, 500, normal);
                        text-align: center;
                    }
                    &-text {
                        @include Ubuntu(18px, 400, normal);
                        color: $Gray;
                        text-align: center;
                    }
                    &-wrapper {
                        @include flex(center, center, 10px);
                    }
                    &-contain {
                        @include flex(center, center, 10px);
                        padding: 6px 10px;
                        border-radius: 44px;
                        border: 1px solid $Accent;
                        &__text {
                            @include Ubuntu(15px, 300, normal);
                        }
                    }
                }
            }
        }
        .min--width {
            width: 90%;
        }
        
        .section2 {
            @include flex(flex-start, center, 20px);
            flex-direction: column;
            &__text {
                @include Ubuntu(28px, 300, normal);
                text-transform: uppercase;
            }
            &__title {
                width: 50%;
                margin-bottom: 100px;
            }
            &-container {
                @include flex(flex-start, center, 60px);
                padding: 0px 100px;
            }
            &-box {
                @include flex(center, center, 30px);
                flex-direction: column;
                width: 30%;
                &__title {
                    @include Ubuntu(21px, 500, normal);
                }
                &__text {
                    @include Ubuntu(24px, 300, normal);
                }
            }
            &-container2 {
                padding: 120px 130px 229px 130px;
                &__wrapper {
                    @include flex(flex-start, flex-start, 30px);
                }
                &__textbox {
                    @include flex(flex-start, flex-start, 24px);
                    flex-direction: column;
                    &-text {
                        @include Ubuntu(24px, 300, 120%);
                    }
                    &-title {
                        text-align: start;
                        width: 80%;
                    }
                }
                &__box {
                    @include flex(flex-start, flex-start, 36px);
                    flex-direction: column;
                    &-img-content {
                        @include flex(center, center, 20px);
                        &-image {
                            border-radius: 100px;
                        }
                    }
                    &-text {
                        @include Ubuntu(24px, 300, 120%);
                    }
                }
                &__btn {
                    @include Inter(24px, 600, normal);
                    margin: 32px 0px 0px 520px;
                    padding: 24px 44px;
                    color: $Background;
                }
            }
        }
        .section3 {
            &-wrapper {
                @include flex(flex-start, flex-start, 56px);
                flex-direction: column;
                padding: 100px 170px;
            }
            &-container {
                @include flex(flex-start, flex-start, 150px);
            }
            &-box {
                @include flex(flex-start, flex-start, 100px);
                flex-direction: column;
                &__title {
                    @include Ubuntu(17px, 500, normal);
                    width: 100%;
                }
            }
            &-box2 {
                @include flex(flex-start, flex-start, 180px);
                flex-direction: column;
                &__number {
                    @include Ubuntu(28px, 400, normal);
                }
                &__text {
                    @include Ubuntu(24px, 300, normal);
                    width: 90%;
                }
            }

        }
        .min--width2 {
            width: 84%;
        }
        .section4 {
            background-color: $White;
            padding-top: 120px;
            &__title {
                width: 100%;
            }
            &__text {
                @include Ubuntu(24px, 300, 120%);
                text-align: center;
                margin-bottom: 24px;
            }
            &-container {
                @include flex(center, center, 30px);
                margin-top: 80px;
            }
            &-box {
                @include flex(flex-start, center, 40px);
                flex-direction: column;
                padding: 28px 24px;
                border-radius: 44px;
                border: 1px solid $Light-Purple;
                margin-bottom: 120px;
                &__text {
                    @include Ubuntu(24px, 400, 120%);
                    text-align: center;
                }
                &__text2 {
                    @include Ubuntu(72px, 500, 120%);
                    color: $Accent;
                }
            }
        }
        .section5 {
            padding: 0px 219px 0px 219px;
            background-color: $Background;
            &__title {
                padding-top: 240px;
            }
            &-link {
                padding: 0px;
                @include flex(flex-start, center, 40px);
                flex-direction: column;
                margin-top: 80px;
            }
            .link-box {
                display: flex;
                &__item {
                    @include flex(center, center, 10px);
                    padding: 10px 22px 32px 22px;
                }
                &__link {
                    @include Ubuntu(22px, 500, normal);
                    color: $LightGray;
                }
                &__link:hover {
                    border-bottom: 2px solid $Black;
                    padding: 10px 22px 32px 22px;
                }
            }
            &-container {
                margin-top: 32px;
                @include flex(space-around, center, 40px);
                padding: 40px 44px;
                border-radius: 44px;
                border: 2px solid $Stroke;
                background: $White;
                &__title {
                    @include Ubuntu(24px, 500, normal);
                }
                &__wrap {
                    @include flex(flex-start, center, 56px);
                }
                &__wrap1 {
                    @include flex(flex-start, center, 20px);
                }
                &__wrap2 {
                    @include flex(flex-start, center, 14px);
                }
                &__box {
                    @include flex(center, center, 10px);
                    padding: 8px 14px;
                    border-radius: 44px;
                    border: 1.5px solid $Accent;
                    &-text {
                        @include Ubuntu(17px, 400, normal);
                    }
                }
                &__arrow-up {
                    display: none;
                }
                &__arrow-up2 {
                    display: none;
                }
            }
            &-container2, &-container2-1 {
                @include flex(flex-start, center, 30px);
                &__box {
                    &-container {
                        @include flex(flex-start, flex-start, 8px);
                        flex-direction: column;
                        padding: 12px 0px 16px 40px;
                        border-radius: 0px 0px 44px 44px;
                        border-right: 1px solid $Light-Purple;
                        border-bottom: 1px solid $Light-Purple;
                        border-left: 1px solid $Light-Purple;
                    }
                    &-title {
                        @include Ubuntu(24px, 500, normal);
                    }
                    &-text {
                        @include Ubuntu(14px, 400, normal);
                        color: $Gray;
                        text-transform: uppercase;
                    }
                }
                &__contant {
                    @include flex(center, center, 8px);
                    &-contain {
                        @include flex(center, center, 10px);
                        padding: 6px 10px;
                        border-radius: 44px;
                        border: 1px solid $Accent;
                        &-text {
                            @include Ubuntu(14px, 400, normal);
                        }
                    }
                }
            }
        }
        .section6 {
            background-color: $White;
            @include flex(center, flex-start, 30px);
            margin-top: 120px;
            padding: 120px 0px 0px 0px;
            &-wrap1 {
                @include flex(flex-start, flex-start, 30px);
                flex-direction: column;
            }
            &-textbox {
                @include flex(flex-start, flex-start, 24px);
                flex-direction: column;
                width: 75%;
                &__title {
                    text-align: start;
                    width: 80%;
                }
                &__text {
                    @include Ubuntu(24px, 300, 120%);
                }
            }
            &-box {
                border-radius: 40px;
                @include flex(flex-start, flex-start, 187px);
                background-image: url(../img/image\ 14.png);
                background-repeat: no-repeat;
                background-size: cover;
                &__block1 {
                    margin: 32px 0px 393px 32px;
                    @include flex(flex-start, flex-start, 6px);
                    flex-direction: column;
                    &-textbox {
                        @include flex(flex-start, center, 10px);
                        padding: 6px 16px;
                        border-radius: 44px;
                        background: $White;
                        backdrop-filter: blur(2px);
                        &-text {
                            @include Ubuntu(14px, 400, normal);
                        }
                    }
                }
                &__block2 {
                    @include flex(flex-start, flex-end, 287px);
                    flex-direction: column;
                    margin: 32px;
                    &-textbox {
                        @include flex(flex-start, flex-start, 0px);
                        padding: 16px 24px;
                        border-radius: 44px;
                        background-color: $White;
                        &-text {
                            @include Ubuntu(24px, 500, normal);
                            
                        }
                    }
                    &-imgbox {
                        padding: 12px;
                        border-radius: 44px;
                        border: 2.5px solid $Accent;
                        background: $White;
                    }
                }
                
            }
            
            &-container {
                @include flex(flex-start, flex-start, 30px);
                flex-direction: column;
            }
            &-box1 {
                background-image: url(../img/image\ 15.png);
                background-repeat: no-repeat;
                background-size: cover;
                border-radius: 40px;
                @include flex(flex-start, flex-start, 152px);
                flex-direction: column;
                &__block2-imgbox {
                    padding: 12px;
                    border-radius: 44px;
                    border: 2.5px solid $Accent;
                    background: $White;
                    margin: 32px 0px 0px 32px;
                }
                &__block2 {
                    &-textbox {
                        @include flex(flex-start, flex-start, 0px);
                        padding: 16px 24px;
                        border-radius: 44px;
                        background-color: $White;
                        margin: 32px;
                        &-text {
                            @include Ubuntu(24px, 500, normal);
                            
                        }
                    }
                    
                }
                
            }
            &-box2 {
                margin-bottom: 120px;
                @include flex(space-between, flex-start, 97px);
                flex-direction: column;
                background-color: $Purple;
                border-radius: 44px;
                padding: 32px;
                &__content {
                    @include flex(flex-start, flex-start, 222px);
                    &-textbox {
                        border-radius: 44px;
                        border: 1px solid $White;
                        padding: 6px 16px;
                        &-text {
                            @include Ubuntu(14px, 400, normal);
                            text-align: center;
                            color: $White;
                        }
                    }
                }
                &__imgbox {
                    border-radius: 44px;
                    border: 2.5px solid $White;
                    background-color: $Accent;
                    padding: 12px;
                }
                &__textbox {
                    @include flex(flex-start, flex-start, 12px);
                    flex-direction: column;
                    &-text1 {
                        @include Ubuntu(16px, 300, normal);
                        color: $White;
                    }
                    &-text2 {
                        @include Ubuntu(24px, 500, normal);
                        color: $White;
                    }
                }
            }
        }
        .section7 {
            margin-top: 120px;
            &-wrap {
                @include flex(center, center, 30px);
                flex-direction: column;
                margin-top: 80px;
            }
            &-container {
                @include flex(center, center, 30px);
            }
            &-box {
                @include flex(flex-start, flex-start, 16px);
                flex-direction: column;
                width: 80%;
                &__text {
                    @include Ubuntu(18px, 300, 30px);
                    color: $Black;
                    width: 65%;
                    margin-left: 150px;
                }
            }
            &-contain {
                @include flex(flex-start, center, 38px);
                width: 100%;
                &__title {
                    @include Ubuntu(22px, 500, 28px);
                    margin-left: 150px;
                }
                &__imgbox-img {
                    padding: 11px;
                    border-radius: 12px;
                    border: 2px solid $Accent;
                }
            }
            .min--gap {
                gap: 140px;
            }
            .more--gap {
                gap: 60px;
            }
            .more--gap2 {
                gap: 139px;
            }
        }
        .section8 {
            position: absolute;
            @include flex(flex-start, center, 20px);
            flex-direction: column;
            margin: 120px 219px;
            border-radius: 44px;
            background-color: $HoverLight;
            padding: 80px 44px;
            &__sub-title {
                @include Ubuntu(28px, 300, normal);
                text-transform: uppercase;
            }
            &__text {
                @include Ubuntu(32px, 300, normal);
                text-align: center;
                width: 63%;
            }
            &__btn {
                @include Inter(24px, 600, normal);
                padding: 24px 44px;
                color: $White;
            }
            z-index: 20;
        }
    }
    .footer {
        @include flex(flex-start, flex-start, 79px);
        flex-direction: column;
        background-color: $Black;
        margin-top: 300px;
        padding: 500px 43px 80px;

        &-container {
            @include flex(flex-start, flex-start, 225px);
        }
        &-box {
            @include flex(flex-start, flex-start, 32px);
            flex-direction: column;
            &__tell {
                @include Ubuntu(28px, 500, normal);
                color: $White;
            }
            &__email {
                @include Ubuntu(28px, 500, normal);
                color: $White;
            }
            &__city {
                @include Ubuntu(28px, 500, normal);
                color: $White;
            }
            &__social {
                @include flex(flex-start, flex-start, 28px);
            }
        }
        &-box2 {
            @include flex(flex-start, flex-start, 72px);
            flex-direction: column;
        }
        &-contentbox {
            @include flex(flex-start, flex-start, 160px);
        }
        &-textbox {
            @include flex(flex-start, flex-start, 24px);
            flex-direction: column;
            &__title {
                @include Ubuntu(28px, 500, normal);
                color: $White;
            }
            &__contain {
                @include flex(flex-start, flex-start, 16px);
                flex-direction: column;
                &-text {
                    @include Ubuntu(20px, 300, normal);
                    color: $White;
                }
            }
        }
        &-contentbox2 {
            @include flex(flex-start, flex-start, 200px);
        }
        &-container2 {
            @include flex(center, center, 10px);
            padding: 32px 10px 10px 10px;
            border-top: 1px solid $Gray;
            width: 90%;
            &__text {
                @include Ubuntu(20px, 300, normal);
                color: $White;
                text-align: center;
            }
        }
    }
}

@media screen and (max-width: 1727px) and (min-width: 1281px) {
    body {
        .wrapper {
            .header {
                padding: 23px 31px;
            }
            .main {
                .section1 {
                    padding: 100px 138px;
                }
                .section2 {
                    &-container2 {
                        &__textbox {
                            &-title {
                                width: 100%;
                            }
                        }
                    }
                }
                .section3 {
                    &-wrapper {
                        padding: 240px 31px;
                    }
                }
                .section5 {
                    padding: 0px;
                }
                .section6 {
                    padding: 120px 0px 0px 0px;
                    &-textbox {
                        &__title {
                            width: 95%;
                        }
                    }
                    &-box {
                        &__block2 {
                            &-textbox {
                                padding: 16px 12px;
                            }
                        }
                    }
                }
                .section7 {
                    &-contain {
                        gap: 30px;
                    }
                    .more--gap {
                        gap: 0px;
                    }
                    .more--gap2 {
                        gap: 30px;
                    }
                }
                .section8 {
                    padding: 80px 0px;
                    &__text {
                        width: 100%;
                    }
                }
            }
            .footer {
                padding: 500px 31px 80px;
            }
        }
    }
}

@media screen and (max-width: 1280px) and (min-width: 834px) {
    body {
        .wrapper {
            .header {
                &__btn {
                    display: none;
                }
                .hamburger {
                    display: block;
                    position: fixed;
                    z-index: 100;
                    top: 1rem;
                    right: 1rem;
                    padding: 4px;
                    border: black solid 1px;
                    background: white;
                    cursor: pointer;
                  }
                  .close__icon {
                    display: none;
                  }
                  .menu {
                    display: flex;
                    flex-direction: column;
                    position: fixed;
                    transform: translateY(-100%);
                    transition: transform 0.2s;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    z-index: 99;
                    background: black;
                    color: white;
                    list-style: none;
                    padding-top: 4rem;
                  }
                  .showMenu {
                    transform: translateY(0);
                  }
                .btn {
                    display: none;
                }
            }
            .main {
                .section1 {
                    padding: 100px 151px;
                    &__title {
                        width: 80%;
                    }
                }
                .section2 {
                    &-container2 {
                        &__textbox {
                            &-title {
                                width: 100%;
                            }
                        }
                    }
                }
                .section5 {
                    padding: 0px 0px;
                    .link-box {
                        &__link {
                            font-size: 21px;
                        }
                    }
                }
                .section6 {
                    &-box {
                        &__block2 {
                            &-textbox {
                                &-text {
                                    font-size: 21px;
                                }
                            }
                        }
                    }
                    &-box2 {
                        &__textbox {
                            &-text2 {
                                font-size: 23px;
                            }
                        }
                    }
                }
                .section8 {
                    &__text {
                        width: 100%;
                    }
                }
            }
            .footer {
                &-contentbox {
                    gap: 102px;
                }
            }
        }
    }
}


@media screen and (max-width: 834px) {
    body {
        .wrapper {
            .header {
                &__btn {
                    display: none;
                }
                .hamburger {
                    display: block;
                    position: fixed;
                    z-index: 100;
                    top: 1rem;
                    right: 1rem;
                    padding: 4px;
                    border: black solid 1px;
                    background: white;
                    cursor: pointer;
                  }
                  .close__icon {
                    display: none;
                  }
                  .menu {
                    display: flex;
                    flex-direction: column;
                    position: fixed;
                    transform: translateY(-100%);
                    transition: transform 0.2s;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    z-index: 99;
                    background: black;
                    color: white;
                    list-style: none;
                    padding-top: 4rem;
                  }
                  .showMenu {
                    transform: translateY(0);
                  }
                .btn {
                    display: none;
                }
            }
            .main {
                .section1 {
                    padding: 100px 77px;
                    &__sub-title {
                        width: 100%;
                    }
                    &-container {
                        display: grid;
                        grid-template-columns: repeat(2, 1fr);
                    }
                }
                .section2 {
                    &__title {
                        width: 91%;
                    }
                    &-container {
                        gap: 27px;
                        padding: 0px 12px;
                    }
                    &-box {
                        &__text {
                            font-size: 20px;
                        }
                    }
                    .tablet--margin {
                        margin-top: 32px;
                    }
                    &-container2 {
                        padding: 120px 0px 229px 0px;
                        &__wrapper {
                            gap: 15px;
                        }
                        &__textbox {
                            &-title {
                                width: 100%;
                            }
                        }
                        &__box {
                            &-text {
                                width: 85%;
                            }
                        }
                        &__btn {
                            margin: 32px 0px 0px 350px;
                        }
                    }

                }
                .section3 {
                    &-wrapper {
                        padding: 100px 20px;
                    }
                    &-container {
                        gap: 10px;
                    }
                    &-box {
                        gap: 173px;
                    }
                    &-box2 {
                        &__text {
                            width: 76%;
                        }
                    }
                }
                .section4 {
                    &__title {
                        width: 73%;
                        margin-left: 102px;
                    }
                    &-container {
                        gap: 5px;
                    }
                    &-box {
                        padding: 28px 32px;
                        &__text2 {
                            
                            font-size: 60px;
                            text-align: center;
                        }
                        
                    }
                }
                .section5 {
                    .tablet--d-none {
                        display: none;
                    }
                    .tablet--margin-right {
                        margin-right: -207px;
                    }
                    .section5--tablet-margin-right {
                        margin-right: 190px;
                    }
                    padding: 0px;
                    .link-box {
                        padding: 10px 15px 32px 0px;
                        
                    }
                    &-container {
                        &__wrap {
                            flex-direction: column;
                        }
                    }
                }
                .section6 {
                    flex-wrap: wrap;
                    &-box1 {
                        &__block2 {
                            &-imgbox {
                                margin: 32px 700px 0px 32px;
                            }
                            
                        }
                    }
                    &-container {
                        flex-direction: column-reverse;
                    }
                    &-box2 {
                        &__content {
                            gap: 486px;
                        }
                    }
                }
                .section7 {
                    &-contain {
                        &__title {
                            margin-left: 0px;
                            width: 69%;
                        }
                    }
                    .min--gap {
                        gap: 71px;
                    }
                }
                .section8 {
                    margin: 120px 0px;
                    padding: 80px 40px;
                    &__text {
                        width: 100%;
                    }
                }
            }
            .footer {
                &-container {
                    flex-direction: column;
                    gap: 80px;
                }
                &-contentbox2 {
                    gap: 254px;
                }
            }
        }
    }
}

@media screen and (max-width: 376px) {
    body {
        .wrapper {
            .header {
                &__btn {
                    display: none;
                }
                .hamburger {
                    display: block;
                    position: fixed;
                    z-index: 100;
                    top: 1rem;
                    right: 1rem;
                    padding: 4px;
                    border: black solid 1px;
                    background: white;
                    cursor: pointer;
                  }
                  .close__icon {
                    display: none;
                  }
                  .menu {
                    display: flex;
                    flex-direction: column;
                    position: fixed;
                    transform: translateY(-100%);
                    transition: transform 0.2s;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    z-index: 99;
                    background: black;
                    color: white;
                    list-style: none;
                    padding-top: 4rem;
                  }
                  .showMenu {
                    transform: translateY(0);
                  }
                .btn {
                    display: none;
                }
            }
            .main {
                .section1 {
                    padding: 100px 0px;
                    &__title {
                        font-size: 32px;
                    }
                    &__sub-title {
                        font-size: 20px;
                        width: 100%;
                    }
                    &-container {
                        flex-direction: column;
                    }
                }
                .section2 {
                    &__title {
                        width: 100%;
                        font-size: 32px;
                    }
                    &-container {
                        padding: 0px;
                        flex-direction: column;
                    }
                    &-box {
                        padding: 0px 16px;
                        width: 100%;
                        &__text {
                            font-size: 20px;
                        }
                    }
                    &-container2 {
                        padding: 120px 0px 229px 0px;
                        &__wrapper {
                            flex-direction: column-reverse;
                        }
                        &__textbox {
                            &-title {
                                width:81%;
                                font-size: 32px;
                            }
                        }
                        &__box {
                            &-text {
                                width: 89%;
                            }
                            &-img {
                                &-content {
                                    &-image {
                                        width:28%;
                                    }
                                }
                            }
                        }
                        &__btn {
                            margin: 32px 0px 0px 0px;
                            font-size: 17px;
                        }
                    }
                }
                .section3 {
                    &__title {
                        font-size: 32px;
                    }
                    &-wrapper {
                        padding: 100px 0px;
                    }
                    &-container {
                        flex-direction: column;
                    }
                    &-box {
                        &__title {
                            font-size: 19px;
                        }
                    }
                    &-box2 {
                        &__text {
                            width: 95%;
                        }
                    }
                }
                .section4 {
                    &__text {
                        font-size: 26px;
                    }
                    &__title {
                        font-size: 32px;
                    }
                    &-container {
                        flex-direction: column;
                    }
                }
                .section5 {
                    padding: 0px;
                    .mobile--d-none {
                        display: none;
                    }
                    .mobile--margin-right {
                        margin-right: -300px;
                    }
                    &-link {
                        align-items: flex-start;
                    }
                    .link-box {
                        &__item {
                            padding: 10px 0px 32px 10px;
                        }
                        &__link {
                            font-size: 17px;
                        }
                    }
                    &-container {
                        padding: 40px 0px;
                        gap: 0px;
                        align-items: flex-start;
                        &__wrap {
                            flex-direction: column;
                            flex-wrap: nowrap;
                        }
                        &__title {
                            font-size: 16px;
                        }
                        &__wrap2 {
                            display: flex;
                            justify-content: center;
                            align-items: flex-end;
                            align-content: flex-end;
                            gap: 8px;
                            align-self: stretch;
                            flex-wrap: wrap;
                            
                        }
                        &__box {
                            &-text {
                                font-size: 16px;
                            }
                        }
                    }
                }
                .section6 {
                    flex-direction: column;
                    &-textbox {
                        &__title {
                            width: 70%;
                            font-size: 32px;
                        }
                        &__text {
                            width: 80%;
                        }
                    }
                    &-box {
                        gap: 0px;
                        &__block1 {
                            margin: 32px 0px 393px 10px;
                        }
                        &__block2 {
                            flex-direction: column-reverse;
                            &-textbox {
                                width: 196%;
                            }
                        }
                    }
                    &-container {
                        flex-direction: column-reverse;
                    }
                    &-box1 {
                        &__block2 {
                            &-textbox {
                                margin: 8px;
                                &-text {
                                    width: 90%;
                                }
                            }
                        }
                    }
                }
                .section7 {
                    &-wrap {
                        flex-direction: column;
                    }
                    &-container {
                        flex-direction: column;
                    }
                    &-contain {
                        &__title {
                            margin-left: 0px;
                            width: 90%;
                        }
                    }
                    &-box {
                        width: 100%;
                    }
                    .min--gap {
                        gap: 0px;
                    }
                    .more--gap2 {
                        gap: 100px;
                    }
                }
                .section8 {
                    margin: 120px 0px;
                    padding: 80px 0px;
                    &__title {
                        font-size: 32px;
                    }
                    &__text {
                        font-size: 25px;
                        width: 100%;
                    }
                }
            }
            .footer {
                padding: 500px 0px 80px;
                &-container {
                    flex-direction: column;
                    gap: 50px;
                }
                &-contentbox {
                    flex-direction: column;
                    gap: 50px;
                }
                &-contentbox2 {
                    flex-direction: column;
                    gap: 50px;
                }
            }
        }
    }
    
}