@import './reset';
@import './mixins';
@import './vars';

body {
    background-color: $Background;
    color: $Black;
    .wrapper {
        .header {
            @include flex(space-around, center, 0px);
            padding: 20px 0px 19px 0px;
            &__btn {
                padding: 18px 32px;
                @include Inter(16px, 600, normal);
                color: $Background;
            }
            .nav {
                &__list {
                    display: flex;
                    gap: 56px;
                    &__item {
                        &__link {
                            color: $Black;
                            @include Ubuntu(24px, 400, normal);
                        }
                    }
                }
            }
            .hamburger {
                display: none;
            }
        }
        .btn {
            @include flex(center, center, 10px);
            background-color: $Accent;
            text-transform: uppercase;
            border-radius: 44px;
        }
        .title {
            @include Ubuntu(50px, 500, normal);
            text-align: center;
            &-text {
                color: $Purple;
            }
        }
        .main {
            .section1 {
                @include flex(flex-start, center, 20px);
                flex-direction: column;
                padding: 100px 219px;
                &__title {
                    width: 70%;
                }
                &__text {
                    @include Ubuntu(28px, 300, normal);
                    text-align: center;
                }
                &__sub-title {
                    @include Ubuntu(32px, 400, normal);
                    text-align: center;
                    width: 61%;
                    margin-top: 20px;
                }
                &-container {
                    @include flex(flex-start, center, 30px);
                }
                &-box {
                    @include flex(flex-start, flex-start, 12px);
                    flex-direction: column;
                    padding: 32px;
                    border-radius: 44px;
                    border: 1px solid $Stroke;
                    background: linear-gradient(209deg, #D3D2FF 0%, #FFF8F9 100%);
                    box-shadow: 0px 0px 16px -6px rgba(0, 0, 0, 0.25) inset;
                    &__chip {
                        @include flex(center, center, 10px);
                        border-radius: 44px;
                        background-color: $White;
                        padding: 12px 32px;
                        &-text {
                            @include Ubuntu(24px, 500, normal);
                        }
                    }
                    &__text {
                        @include Ubuntu(16px, 300, 140%);
                        width: 100%;
                    }
                    &__price {
                        @include flex(center, center, 12px);
                        &-number {
                            @include Ubuntu(32px, 500, 140%);
                        }
                        &-text {
                            @include Ubuntu(18px, 300, 140%);
                        }
                    }
                    &__list {
                        @include flex(flex-start, flex-start, 16px);
                        flex-direction: column;
                        &-box {
                            @include flex(flex-start, flex-start, 16px);
                            &-text {
                                @include Ubuntu(18px, 400, 140%);
                            }
                        }
                    }
                }




                &-box1 {
                    @include flex(flex-start, flex-start, 12px);
                    flex-direction: column;
                    padding: 32px;
                    border-radius: 44px;
                    border: 1px solid $Stroke;
                    background: $White;
                    box-shadow: 0px 0px 16px -6px rgba(0, 0, 0, 0.25) inset;
                    &__chip {
                        @include flex(center, center, 10px);
                        border-radius: 44px;
                        background-color: $Accent;
                        padding: 12px 32px;
                        &-text {
                            @include Ubuntu(24px, 500, normal);
                            color: $White;
                        }
                    }
                    &__text {
                        @include Ubuntu(16px, 300, 140%);
                        width: 100%;
                    }
                    &__price {
                        @include flex(center, center, 12px);
                        &-number {
                            @include Ubuntu(32px, 500, 140%);
                        }
                        &-text {
                            @include Ubuntu(18px, 300, 140%);
                        }
                    }
                    &__list {
                        @include flex(flex-start, flex-start, 16px);
                        flex-direction: column;
                        &-box {
                            @include flex(flex-start, flex-start, 16px);
                            &-text {
                                @include Ubuntu(18px, 400, 140%);
                            }
                        }
                    }
                }
            }
            .section2 {
                @include flex(flex-start, center, 20px);
                flex-direction: column;
                &__text {
                    @include Ubuntu(28px, 300, normal);
                    text-transform: uppercase;
                }
                &__title {
                    width: 50%;
                    margin-bottom: 100px;
                }
                &-container {
                    @include flex(flex-start, center, 60px);
                    padding: 0px 100px;
                }
                &-box {
                    @include flex(center, center, 30px);
                    flex-direction: column;
                    width: 30%;
                    &__title {
                        @include Ubuntu(21px, 500, normal);
                    }
                    &__text {
                        @include Ubuntu(24px, 300, normal);
                    }
                }
            }
            .section3 {
                @include flex(center, center, 24px);
                flex-direction: column;
                padding: 240px 208px;
                &__sub-title {
                    @include Ubuntu(44px, 300, normal);
                    color: $Purple;
                    text-align: center;
                    width: 48%;
                }
                &__text {
                    @include Ubuntu(24px, 300, 120%);
                    width: 51%;
                    text-align: center;
                }
                &-container {
                    @include flex(flex-start, center, 30px);
                }
                &-box {
                    @include flex(flex-start, flex-start, 156px);
                    flex-direction: column;
                }
                &-contant {
                    @include flex(flex-start, flex-start, 30px);
                    padding: 32px;
                    flex-direction: column;
                    &__number {
                        @include Ubuntu(24px, 500, normal);
                        color: $Accent;
                    }
                    &__title {
                        @include Inter(24px, 600, normal);
                        text-transform: uppercase;
                    }
                    &__text {
                        @include Inter(20px, 300, 140%);
                        width: 100%;
                    }
                }
                &-contant--margin {
                    margin-top: 460px;
                }
            }
            .section4 {
                @include flex(flex-start, center, 80px);
                padding: 0px 164px;
                flex-direction: column;
                &-container {
                    @include flex(flex-start, flex-start, 30px);
                }
                &-box {
                    @include flex(flex-start, flex-start, 64px);
                    flex-direction: column;
                    padding: 32px;
                    border-radius: 44px;
                    border: 2px solid $Light-Purple;
                    &__textbox {
                        @include flex(flex-start, flex-start, 20px);
                        flex-direction: column;
                        &-title {
                            @include Ubuntu(28px, 500, normal);
                            width: 90%;
                        }
                        &-text {
                            @include Ubuntu(16px, 300, 140%);
                            width: 100%;
                        }
                    }
                }
                &-text--min-width {
                    width: 72%;
                }
            }
            .section5 {
                position: absolute;
                @include flex(flex-start, center, 20px);
                flex-direction: column;
                margin: 120px 219px;
                border-radius: 44px;
                background-color: $HoverLight;
                padding: 80px 44px;
                &__sub-title {
                    @include Ubuntu(28px, 300, normal);
                    text-transform: uppercase;
                }
                &__text {
                    @include Ubuntu(32px, 300, normal);
                    text-align: center;
                    width: 63%;
                }
                &__btn {
                    @include Inter(24px, 600, normal);
                    padding: 24px 44px;
                    color: $White;
                }
                z-index: 20;
            }
        }
        .footer {
            @include flex(flex-start, flex-start, 79px);
            flex-direction: column;
            background-color: $Black;
            margin-top: 300px;
            padding: 500px 200px 80px;
    
            &-container {
                @include flex(flex-start, flex-start, 225px);
            }
            &-box {
                @include flex(flex-start, flex-start, 32px);
                flex-direction: column;
                &__tell {
                    @include Ubuntu(28px, 500, normal);
                    color: $White;
                }
                &__email {
                    @include Ubuntu(28px, 500, normal);
                    color: $White;
                }
                &__city {
                    @include Ubuntu(28px, 500, normal);
                    color: $White;
                }
                &__social {
                    @include flex(flex-start, flex-start, 28px);
                }
            }
            &-box2 {
                @include flex(flex-start, flex-start, 72px);
                flex-direction: column;
            }
            &-contentbox {
                @include flex(flex-start, flex-start, 160px);
            }
            &-textbox {
                @include flex(flex-start, flex-start, 24px);
                flex-direction: column;
                &__title {
                    @include Ubuntu(28px, 500, normal);
                    color: $White;
                }
                &__contain {
                    @include flex(flex-start, flex-start, 16px);
                    flex-direction: column;
                    &-text {
                        @include Ubuntu(20px, 300, normal);
                        color: $White;
                    }
                }
            }
            &-contentbox2 {
                @include flex(flex-start, flex-start, 250px);
            }
            &-container2 {
                @include flex(center, center, 10px);
                padding: 32px 10px 10px 10px;
                border-top: 1px solid $Gray;
                width: 90%;
                &__text {
                    @include Ubuntu(20px, 300, normal);
                    color: $White;
                    text-align: center;
                }
            }
        }
    }
}

@media screen and (max-width: 1727px) and (min-width: 1281px) {
    body {
        .wrapper {
            .header {
                padding: 23px 31px;
            }
            .main {
                .section1 {
                    padding: 100px 0px;
                    &__title {
                        width: 60%;
                    }
                    &__sub-title {
                        width: 57%;
                    }
                }
                .section2 {
                    &-container2 {
                        &__textbox {
                            &-title {
                                width: 100%;
                            }
                        }
                    }
                }
                .section3 {
                    padding: 240px 31px;
                    &-container {
                        align-items: flex-start;
                    }
                }
                .section4 {
                    padding: 0px;
                }
                .section5 {
                    padding: 80px 0px;
                    &__text {
                        width: 100%;
                    }
                }
            }
            .footer {
                padding: 500px 31px 80px;
            }
        }
    }
}


@media screen and (max-width: 1280px) and (min-width: 834px) {
    body {
        .wrapper {
            .header {
                &__btn {
                    display: none;
                }
                .hamburger {
                    display: block;
                    position: fixed;
                    z-index: 100;
                    top: 1rem;
                    right: 1rem;
                    padding: 4px;
                    border: black solid 1px;
                    background: white;
                    cursor: pointer;
                  }
                  .close__icon {
                    display: none;
                  }
                  .menu {
                    display: flex;
                    flex-direction: column;
                    position: fixed;
                    transform: translateY(-100%);
                    transition: transform 0.2s;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    z-index: 99;
                    background: black;
                    color: white;
                    list-style: none;
                    padding-top: 4rem;
                  }
                  .showMenu {
                    transform: translateY(0);
                  }
                .btn {
                    display: none;
                }
            }
            .main {
                .section1 {
                    padding: 100px 0px;
                    &__sub-title {
                        width: 89%;
                    }
                    &-container {
                        display: grid;
                        grid-template-columns: repeat(2, 1fr);
                    }
                }
                .section2 {
                    &-container {
                        padding: 0px;
                        gap: 32px;
                    }
                    &-box {
                        &__text {
                            font-size: 19px;
                        }
                    }
                }
                .section3 {
                    padding: 240px 0px;
                    &__sub-title {
                        width: 69%;
                    }
                    &__text {
                        width: 77%;
                    }
                }
                .section4 {
                    padding: 0px;
                }

                .section5 {
                    margin: 120px 0px;
                    padding: 80px 40px;
                    &__text {
                        width: 100%;
                    }
                }
            }
            .footer {
                &-container {
                    flex-direction: column;
                    gap: 80px;
                }
                &-contentbox2 {
                    gap: 254px;
                }
            }
        }
    }
}

@media screen and (max-width: 834px) {
    body {
        .wrapper {
            .header {
                &__btn {
                    display: none;
                }
                .hamburger {
                    display: block;
                    position: fixed;
                    z-index: 100;
                    top: 1rem;
                    right: 1rem;
                    padding: 4px;
                    border: black solid 1px;
                    background: white;
                    cursor: pointer;
                  }
                  .close__icon {
                    display: none;
                  }
                  .menu {
                    display: flex;
                    flex-direction: column;
                    position: fixed;
                    transform: translateY(-100%);
                    transition: transform 0.2s;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    z-index: 99;
                    background: black;
                    color: white;
                    list-style: none;
                    padding-top: 4rem;
                  }
                  .showMenu {
                    transform: translateY(0);
                  }
                .btn {
                    display: none;
                }
            }
            .main {
                .section1 {
                    padding: 100px 0px;
                    &__title {
                        font-size: 32px;
                        width: 100%;
                    }
                    &__sub-title {
                        font-size: 20px;
                        width: 100%;
                    }
                    &-container {
                        display: flex;
                        flex-direction: column;
                    }
                }
                .section2 {
                    &__text {
                        font-size: 16px;
                    }
                    &__title {
                        font-size: 32px;
                        width: 100%;
                    }
                    &-container {
                        padding: 16px;
                        flex-direction: column;
                    }
                    &-box {
                        width: 100%;
                        &__title {
                            font-size: 28px;
                        }
                        &__text {
                            font-size: 20px;
                        }
                    }
                }
                .section3 {
                    padding: 240px 16px;
                    &__sub-title {
                        font-size: 22px;
                        width: 100%;
                    }
                    &__title {
                        font-size: 32px;
                    }
                    &__text {
                        width: 100%;
                    }
                    &-container {
                        flex-direction: column;
                    }
                    &-contant--margin {
                        margin-top: 0px;
                    }
                    &-box {
                        gap: 50px;
                    }
                    &-contant {
                        &__number {
                            display: none;
                        }
                    }
                }
                .section4 {
                    padding: 0px;
                    &__title {
                        font-size: 32px;
                    }
                    &-container {
                        flex-direction: column;
                    }
                }
                .section5 {
                    margin: 120px 0px;
                    padding: 80px 0px;
                    &__title {
                        font-size: 32px;
                    }
                    &__text {
                        font-size: 25px;
                        width: 100%;
                    }
                }
            }
            .footer {
                padding: 500px 0px 80px;
                &-container {
                    flex-direction: column;
                    gap: 50px;
                }
                &-contentbox {
                    flex-direction: column;
                    gap: 50px;
                }
                &-contentbox2 {
                    flex-direction: column;
                    gap: 50px;
                }
            }
        }
    }
}